body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b8b8b8 !important;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
    transform: translateX(-11px);
    outline: none; /* Removes default focus outline */

  }
  
textarea:focus {
    border: 1px solid #007bff !important; /* Correct selector */
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
 #convertButton , .clear-btn, .copy-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .clear-btn {
    background-color: #ff4b4b;
  }
  
  .clear-btn:hover {
    background-color: #cc0000;
  }
  
.copy-btn:hover {
    background-color: #0056b3;
  }

@media  (max-width: 768px) {
    
}